body {
  margin: 0;
  font-family: "Poppins";
  background: transparent; /* Remove background */
}

.account-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none; /* Hidden by default */
}

#arr {
 margin-left: 200px;
 margin-top: 1px;
 font-size: 15px;
 font-weight: normal;
}

.panel-header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.close-button {
  background: none;
  border: none;
  font-size: 30px;
  font-weight: normal;
  cursor: pointer;
  color: #76787F;
  margin-top: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
}

.panel-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
  align-items: center; /* Center items horizontally */
  height: 70%;
  padding: 20px;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center profile picture and name horizontally */
  margin-bottom: 10px;
  margin-top: -10px;
}

.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-name {
  font-size: 15px;
  font-weight: bold;
  color: #464F60;
}

.panel-options {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  color: #464F60;
}

.panel-item {
  margin-top: 1px;
  padding: 10px;
  font-size: 16px;
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center;
  cursor: pointer;
 
}

.panel-item:hover {
  background-color: #f9f9f9;
}

/* Remove default styling for links */
.panel-options a {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Makes the link color inherit from its parent (e.g., from the text color) */
}

/* Optional: Style for hover effect */
.panel-options a:hover {
  color: #333; /* Change color on hover (if desired) */
}
