body {
    background-color: #F5F6FA;
    font-family: 'Poppins';
  }

  th, td {
    padding: 0.75rem;
    text-align: center;
    border: 1px solid #dee2e6;
  }

  th {
    background-color: #F3F4F6;
    font-weight: 600;
  }

  .table-wrapper {
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    border-radius: 0.5rem;
    overflow-x: auto;
  }

  .search-bar {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #e0e0e0;
    width: 600px;
  } 
  
  
  .filter-bar {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #e0e0e0;
    
  }

  /* Custom styling for the table borders and layout */
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.875rem;
  }

  td {
    color: #1D1D1D;
  }

  /* Responsive Design */
  @media (max-width: 768px) {
    th, td {
      padding: 0.5rem;
    }

    table {
      width: 100%;
      overflow-x: auto;
      display: block;
    }

    .table-wrapper {
      overflow-x: auto;
      margin-bottom: 1rem;
    }

    .flex-grow {
      margin-top: 1rem;
    }
  }

  @media (max-width: 480px) {
    .table-wrapper {
      margin: 0;
    }

    table {
      font-size: 0.8rem;
    }

    input[type="text"], select, button {
      width: 100%;
      margin-top: 0.5rem;
    }

    td.text-center {
      display: flex;
      justify-content: space-around;
    }
  }