<link rel="stylesheet" href="../../../src/style/components/header.css">

<div class="header">
  <div class="header-title"></div>
  <div class="header-icons">
    <img id="notifications-icon" src="../../images/Bell.png" alt="Notifications" />
    <img id="account-icon" src="../../images/Union.png" alt="Account" />
  </div>
</div>

<!-- Account Panel with iframe to load external content -->
<div id="account-panel" class="account-panel">
  <iframe id="account-frame" src="" width="100%" height="100%" style="border: none;"></iframe>
</div>

<!-- Notifications Panel with iframe to load external content -->
<div id="notifications-panel" class="account-panel">
  <iframe id="notifications-frame" src="" width="100%" height="100%" style="border: none;"></iframe>
</div>

<script src="./header.js"></script> <!-- Assuming this is where your JS lives -->