<link rel="stylesheet" href="../../../src/style/components/header.css">

<div class="header">
  <div class="header-title"></div>
  <div class="header-icons">
    <img src="../../images/Bell.png" alt="Notifications" />
    <img id="account-icon" src="../../images/Union.png" alt="Account" />
  </div>
</div>

<!-- Account Panel with iframe to load external content -->
<div id="account-panel" class="account-panel">
  <iframe id="account-frame" src="" width="100%" height="100%" style="border: none;"></iframe>
</div>